notebook
jupyterlab
flask
# torch --extra-index-url https://download.pytorch.org/whl/cu118
torchaudio
transformers
datasets
matplotlib
librosa
IPython
requests
sounddevice
soundfile
evaluate
pandas
scikit-learn
jiwer
transformers[torch]
tensorboard